// container
.container {
    padding: 0 8px;
    @include clearfix;

    @include breakpoint(sm) {
        width: 632px;
        margin: 0 auto;
        padding: 0;
    }

    @include breakpoint(md) {
        width: 980px;
    }

    .site-header & {
        @include breakpoint(768px, 1023px) {
            width: 768px;
            padding: 0 8px;
        }
    }

    &--full {
        @include clearfix;
    }
}

#site-content {
    @include clearfix;
    margin-bottom: 16px;
}

&.two-cols {
    @include clearfix;
    font-size: 0;
    margin-left: -8px;
    margin-right: -8px;

    >* {
        width: 50%;
        display: inline-block;
        vertical-align: top;
        padding: 0 8px;
    }

    &-sm {
        @include breakpoint(sm) {
            @include clearfix;
            font-size: 0;
            margin-left: -8px;
            margin-right: -8px;

            >* {
                width: 50%;
                display: inline-block;
                vertical-align: top;
                padding: 0 8px;
            }
        }

        &-only {
            @include breakpoint(768px, 1023px) {
                @include clearfix;
                font-size: 0;
                margin-left: -8px;
                margin-right: -8px;

                >* {
                    width: 50%;
                    display: inline-block;
                    vertical-align: top;
                    padding: 0 8px;
                }
            }
        }
    }
}

&.three-cols {
    @include clearfix;
    font-size: 0;
    margin-left: -8px;
    margin-right: -8px;

    >* {
        width: 33.33%;
        display: inline-block;
        vertical-align: top;
        padding: 0 8px;
    }

    &-sm {
        @include breakpoint(sm) {
            @include clearfix;
            font-size: 0;
            margin-left: -8px;
            margin-right: -8px;

            >* {
                width: 33.33%;
                display: inline-block;
                vertical-align: top;
                padding: 0 8px;
            }
        }

        &-only {
            @include breakpoint(768px, 1023px) {
                @include clearfix;
                font-size: 0;
                margin-left: -8px;
                margin-right: -8px;

                >* {
                    width: 33.33%;
                    display: inline-block;
                    vertical-align: top;
                    padding: 0 8px;
                }
            }
        }
    }
}

&.four-cols {
    @include clearfix;
    font-size: 0;
    margin-left: -8px;
    margin-right: -8px;

    >* {
        width: 25%;
        display: inline-block;
        vertical-align: top;
        padding: 0 8px;
    }

    &-sm {
        @include breakpoint(sm) {
            @include clearfix;
            font-size: 0;
            margin-left: -8px;
            margin-right: -8px;

            >* {
                width: 25%;
                display: inline-block;
                vertical-align: top;
                padding: 0 8px;
            }
        }
    }

    &-md {
        @include breakpoint(md) {
            @include clearfix;
            font-size: 0;
            margin-left: -8px;
            margin-right: -8px;

            >* {
                width: 25%;
                display: inline-block;
                vertical-align: top;
                padding: 0 8px;
            }
        }
    }
}

.site-login {
    .zone {
        &__header {
            background: #FDFFE6;
            margin: -15px -20px 20px;
            padding: 15px 20px;
            box-shadow: 0 1px 0 0 rgba(191, 191, 191, 0.50);
        }

        width: 480px;
        max-width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}